body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 2vw;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.app-background {
    background: linear-gradient(to right, #f2ccc0, #98d8ff);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 150px;
}

h1 {
    font-size: 5vw;
    margin-bottom: 2vh;
    text-align: center;
}

h4 {
    font-size: 3vw;
    margin-bottom: 2vh;
    text-align: center;
}

.btn {
    cursor: pointer;
}

.card {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttonIcon {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 4vw;
    }

    h4 {
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 3.5vw;
    }
    h4 {
        font-size: 2vw;
    }
}