body, html, .main-container{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2b1055, #7597de);
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-container img {
    flex: 1;
    max-width: 100px;
    height: auto;
}

.title, .subtitle {
    margin: 0;
    color: antiquewhite;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    font-size: 3 rem;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 0;
}

.caption{
    color: #2b1055;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2 rem;
}

.icon-plus {
    cursor: pointer;
    font-size: 22px;
    color: antiquewhite;
}

.add-button-container {
    text-align: center;
    margin: 20px 0;
}

.add-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.add-button:hover {
    background-color: #ff69b4;
    color: whitesmoke;
}

.search-icon {
    cursor: pointer;
    font-size: 24px; 
    color: white;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1000;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 280px;
    height: 100%;
    background-color: whitesmoke;
    box-shadow: 2px 0px 5px rgba(233, 185, 248, 0.1);
    padding: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.size-filter {
    display: flex;
    align-items: center;
    gap: 10px; 
    font-weight: bold;
}

.search-field {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #ff69b4;
    outline: none;
    margin-bottom: 10px;
}

.search-description{
    border: none;
    outline: none;
}

#description-icon {
    margin-right: 10px;
    color: #ff69b4;
    font-size: 16px;
}

#location-icon {
    margin-right: 10px;
    color: #ff69b4;
    font-size: 16px;
}


.sidebar.open {
    transform: translateX(0);
}

.sidebar.closed {
    transform: translateX(-100%);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(253, 120, 120, 0.1);
    padding: 20px;
    width: 60%;
    max-width: 1000px; 
}

.card-image {
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin-bottom: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}
.card-body {
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#card-title {
    font-weight: bold;
    color: #2b1055;
}

.card-text{
    margin: 0;
    padding: 0;
}

.card-location {
    font-size: 0.8rem; 
    color: grey;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.btn {
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#footer {
    width: 100%;
    background-color: white;
    color: #ff69b4;
    align-items: center;
    text-align: center;
    font-size: 14px;
    position: fixed;
    bottom: 0;
}

@media (max-width: 1024px) {
    .cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }

    .items-container, .logo-container img {
        width: 90%;
    }
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .sidebar {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .items-container, .logo-container img {
        width: 95%;
    }
    .cards-container {
        grid-template-columns: 1fr;
    }
}