body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f2ccc0, #98d8ff);
}

.app-background {
    min-height: 100vh; /* Garantir que tenha no mínimo a altura da tela */
    display: flex;
    flex-direction: column; /* Organiza os filhos em coluna */
    justify-content: flex-start; /* Alinha ao início, permitindo expansão para baixo */
    align-items: center; /* Centraliza horizontalmente */
    overflow: auto; /* Previne rolagem desnecessária no nível do app-background */
}

.items-container{
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    
    
}


img {
    flex: 1;
    max-width: 200px;
    height: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
    width: 100%;
}

.card-title {
    font-weight: bold;
}
h1 {
    font-size: 5vw;
    margin-bottom: 2vh;
    text-align: center;
}

h4 {
    font-size: 3vw;
    margin-bottom: 2vh;
    text-align: center;
}

.btn {
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttonIcon {
    font-size: 20px;
}

.footer {
    width: 100%;
    background-color: white; /* Fundo branco */
    color: #ff69b4; /* Fonte cor de rosa */
    text-align: center;
    padding: 10px 0; /* Padding reduzido */
    font-size: 14px;
    position: fixed;
    bottom: 0;
}

@media (max-width: 768px) {
    .card {
        width: 100%; /* Ajusta para uma coluna de cards em dispositivos menores */
    }

    .items-container, .logo-container img {
        width: 90%; /* Ajusta a largura para dispositivos menores */
    }
}

@media (max-width: 480px) {
    .items-container, .logo-container img {
        width: 95%; /* Ajusta a largura para dispositivos muito pequenos */
    }
}